.generic-content-container {
    p {
        line-height: 1.25;
        font-weight: 300;

        @mixin mediumScreen {
            line-height: 1.65;
            font-size: 1.125rem;
            margin: 0 0 1.8 0;
        }
    }

    p a {
        font-weight: 700; /*400 noraml bold*/
    }
}