.large-hero {
    position: relative;
    /*childs center vertically*/
    display: flex;
    align-items: center;
    border-bottom:10px solid $mainBlue;

    &__image {
        display: block;
    }

    &__text-content {
        /*on top of image centered*/
        /*on top of image*/
        position: absolute;
        /*center horizontally*/
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.4rem;
        margin: 0;
        padding-top: 60px;

        @mixin smallScreen {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.5rem;
        margin: 0;
        
        @mixin smallScreen {
            font-size: 2.9rem;
        }
    }

    &__description {
        color: #FFF;
        font-size: 0.8rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;

        @mixin smallScreen {
            font-size: 1.875rem;
            max-width: 33rem;
        }
    }
}