.page-header {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba($mainBlue, .3);
    padding: 10px 0;

    &__btn-container {
        float: right;
    }

    &__logo {
        position: absolute;
        z-index: 3;
        background-color: $mainBlue;
        padding: 25px 36px;
        text-align: center;
        top: 0;

        span {
            display: block;
        }
    }
}