.row{
    
    @mixin mediumScreen {
        display: grid;
    }

    &-sidebar-content {
        grid-template-columns: 4/12*100% 8/12*100%;
        grid-template-areas:"sidebar content";
    }

    &-cols2 {
        grid-template-columns:46% 46%;
    }

    &--gutters {
        grid-gap: 5%;

        &-large {
            grid-gap: 8%; 
        }
    }

    &__sidebar {
        grid-area: sidebar;
        margin: 0 auto;
        
        &--center {
            text-align: center;
        }
    
    }
        
    &__content {
        grid-area: content;
        position: relative;
        text-align: left;
    }

    &__b-margin-until-medium {
        margin-bottom: 0.5em;

        @mixin mediumScreen {
            margin-bottom: 0;
        }
    }

    .row-cols2 .row__content p {
        font-size: 0.825rem;
        line-height: 1.125rem;
        font-weight: 200;
    }
}