.social-icons {
    text-align:center;
    z-index: 999;

    &__icon {
        background-color:$mainOrange;
        position: relative;
        display:inline-block;
        padding: 0.5rem;
        width:33%;
        height: 50px;

        @mixin smallScreen {
            width:50px;
        }

        .icon {
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
}