.testimonial {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.125rem;
    
    @mixin largeScreen {
        padding: 0 1.875rem 1px 1.875rem;
    }

    &--t-margin100-untilLargeScreen {
        margin-top: 100px;

        @mixin largeScreen {
            margin-top: 0;
        }
    }

    &__photo {
        border-radius: 50%;
        border: 6px solid rgba(255, 255, 255, 0.8);
        display: block;
        margin: 0 auto -80px auto;
        position: relative;
        top: -80px;
    }

    &__title {
        color: $mainBlue;
        text-align: center;
        font-size: 1.125rem;
        margin: .5rem 0 0 0;
        font-weight: 500;
    }

    &__subtitle {
        color: $mainOrange;
        text-align: center;
        font-size: .75rem;
        margin: .75rem 0 0 0;
        font-weight: 400;
    }
}