.wrapper {
    padding:0 18px;
    max-width: 1200px;
    margin: 0 auto;

    &--medium {
        max-width: 976px;
    }

    /* a wrapper inside the original wrapper*/
    .wrapper {
        padding: 0 0;
    }

    &--b-margin {

        margin-bottom: 1rem;

        @mixin smallScreen {
            margin-bottom: 4rem;
        }
    }

}